<head>
  <% provide(:title, 'Sign up') %>
  <div class="topnav">
    <a><%= link_to 'MBRICK.COM',welcome_index_path %>
    <div class="topnav-right">
      <a> <%= link_to 'Signup',register_path %></a>
      <a><%= link_to 'Login',login_path %></a>
    </div>
  </div>
</head>
<% provide(:title, "Log in") %>
<h1>Log in</h1>
<body>
<div align="center">
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email%><br><br>

      <%= f.label :password %>
      <%= f.password_field :password%><br><br>

      <%= f.submit "Log in"%><br><br>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", register_path %></p>
  </div>
</div>
<body>